.page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  margin-block: 20px;
  width: 100%;
}

.left {
  overflow-y: auto;
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
}

.right {
  width: 300px;
  flex-shrink: 0;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 15px;
  background: var(--black);
  display: flex;
  flex-direction: column;
  gap: 10px;

  input[type=text] {
    font-size: 1.25rem;
    margin-bottom: 10px;
    padding: 5px;
    color: inherit;
  }

  input[type=checkbox] {
    height: 1rem;
    width: 1rem;
    margin-inline: 10px;
    accent-color: var(--accent);
  }

  label {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #000;
    --foreground: #000;
  }
}
