.page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: 18px;

    ul {
        margin-inline: 10px;
        list-style: none;

        svg {
            margin-inline: 20px;
        }
    }

    a {
        text-decoration: underline;
    }

    button {
        font-size: 1.25rem;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: var(--accent);
        color: var(--foreground);
    }

    hr {
        width: 80%;
    }
}