.page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: 18px;

    ul {
        margin-inline: 5px;
        list-style: none;
    }

    li {
        margin: 5px;
    }

    svg {
        margin-inline: 10px;
    }

    a {
        text-decoration: underline;
        display: flex;
        align-items: center;
    }

    button {
        font-size: 1.25rem;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: var(--accent);
        color: var(--foreground);
    }

    hr {
        width: 80%;
    }
}