/*@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');*/

:root {
  --background: #F2F2F2;
  --foreground: #26292C;

  --secondaryText: #999999;

  --teal: #136C80;
  --rust: #A24A2F;
  --purple: #544A85;

  --black: #26292C;
  --accent: #0E5A6B;

  --font-sans: "Source Sans 3", system-ui, sans-serif;
  --font-serif: "Fraunces", Georgia, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #26292C;
    --foreground: #F2F2F2; /* primaryText */

    --secondaryText: #999999;

    --black: #000000;
    --accent: #0E5A6B;
  }
}

html, body {
  font-family: var(--font-sans), sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/portfolio/noise.png");
  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
}

.edge-style {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  background:
      linear-gradient(
              to right,
              rgba(14, 90, 107, 0.2),
              transparent 20%,
              transparent 80%,
              rgba(73, 61, 112, 0.3)
      );
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  position: relative;
  width: 100%;
  padding: 20px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border-color: var(--accent);
  margin-bottom: 5px;
}

h1 {
  font-family: var(--font-serif), serif;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 600;
  font-variation-settings:
          "WONK" 1,
          "opsz" 144;
}

h2 {
  font-family: var(--font-serif), serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  font-variation-settings:
          "WONK" 1,
          "opsz" 144;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body::before {
    opacity: 0.09;
  }

  .edge-style {
    background:
            linear-gradient(
                    to right,
                    rgba(14, 90, 107, 0.15),
                    transparent 20%,
                    transparent 80%,
                    rgba(73, 61, 112, 0.15)
            );
  }
}
