/*@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');*/

:root {
  --background: #F2F2F2;
  --foreground: #26292C;

  --secondaryText: #999999;

  --teal: #0E5A6B;
  --rust: #8C3D26;
  --purple: #3F355F;

  --black: #26292C;
  --accent: #0E5A6B;

  --font-sans: "Source Sans 3", system-ui, sans-serif;
  --font-serif: "Fraunces", Georgia, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #26292C;
    --foreground: #F2F2F2; /* primaryText */

    --secondaryText: #999999;

    --black: #000000;
    --accent: #0E5A6B;
  }
}

html,
body {
  font-family: var(--font-sans), sans-serif;

  width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border-color: var(--accent);
  margin-bottom: 5px;
}

h1 {
  font-family: var(--font-serif), serif;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 600;
}

h2 {
  font-family: var(--font-serif), serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
